<!DOCTYPE html>
<html lang="pt-br">

<%- include("parts/head") %>

<body>

    <section class="container">

        <h1>
            <% if (typeof titulo != "undefined") { %> 
                <%= titulo %> 
            <% } else { %>
                O título não foi informado!
            <% } %>  
        </h1>       

        <form action="/" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label>Cliente</label>
            <input type="text" name="cliente" placeholder="informe o seu nome">
            <button type="submit">Enviar</button>
        </form>
    </section>
    
    <script src="./assets/js/bundle.js"></script>
</body>
</html>